{% extends 'base.html' %}


{% block head %} <title>Home</title> {% endblock head %}


{% block body %}
<br>
<h1>Homepage</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to Marks Blog. Here We'll be talking about Python, Machine Learning, Tech and more</p>
            <p>Visit at our Facebook page <a href="https://facebook.com">Misty Mark</a> to check out more cool stuff.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to posts&raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock body %}