{% extends 'base.html' %}


{% block head %} <title>Home</title> {% endblock head %}


{% block body %}
<div class="mt-5">
    <h1 style="display: inline;">All Posts</h1>
    <a style="display: inline;" href="/posts/new" class="btn btn-success float-right">+ New Post</a>

</div>
<hr>
{% for post in posts %}
<br>
<h3>{{post.title}}</h3>

<p style="white-space: pre-wrap;">{{post.content}}</p>

{% if post.author %}
<small>Written by:{{post.author}} on {{post.date_posted}}</small><br>
{% else %}
<small>Written by: anonymous on {{post.date_posted}}</small><br>
{% endif %}
<br>
<a href="/posts/delete/{{post.id}}" class="btn btn-danger">Delete</a>
<a href="/posts/edit/{{post.id}}" class="btn btn-primary">Edit</a>
<hr>
{% endfor %}

{% endblock body %}